<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-navbar></app-navbar>

<div class="container" style="margin-top: 6rem; margin-bottom: 6rem;">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form (ngSubmit)="submitForm()" #contactForm="ngForm">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="formData.nombre" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="formData.email" required>
          </div>
          <div class="mb-3">
            <label for="mensaje" class="form-label">Mensaje</label>
            <textarea class="form-control" id="mensaje" name="mensaje" [(ngModel)]="formData.mensaje" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>
  
<app-footer></app-footer>
</body>
</html>

