.scroll-container {
    width: 300px;
    max-height: 400px; /* Altura máxima del contenedor */
    overflow-y: auto; /* Habilitar el desplazamiento vertical cuando el contenido exceda la altura */
  }
  
  .product-image {
    width: 60px;
    height: auto;
  }
  