.card-list{
    background-color: rgba($color: #ffffff, $alpha: 0.6);
    text-align: center;
    position: fixed;
    margin-top: 5rem;
    margin-right: 2rem;
}
.price-text{
    font-size: 1rem;
}
.delete-button{
    color: red;
    font-size: 0.8rem;
}
.product-list-title{
    margin-left: 1rem;
    margin-right: 1rem;
}