body{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/janzap-34d2b.appspot.com/o/images%2FforgotPassword%2Fai-generated-8222499.png?alt=media);
    background-size: cover ;
}
.login-page {
    width: 100%;
    height: 100vh;
    display: inline-block;
    display: flex;
    align-items: center;
}
.form-right i {
    font-size: 100px;
}
.company-icon{
    color: red;
}
.company-name:hover{
    color: red;
    font-weight: 900;
}