<!DOCTYPE html>
<html lang="es">

<head>
  <title>JanZap Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

</head>
<header>
  
</header>
<body>
  <div class="container-fluid">
    <div class="row">
      <app-navbar></app-navbar>
    </div>
  
  </div>
  <div class="container-fluid mb-4" style="margin-top: 3.5rem;">
    <div class="row first-row mb-4">
      <div class="col">
        <h2>PREGUNTAS FRECUENTES</h2>
        <p>¿Tienes alguna duda? Aquí te la resolvemos.</p>
      </div>
    </div>
  </div>

  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="container-fluid">
      <div class="row first-row">
        <div class="col">
          <h3>SOBRE NOSOTROS</h3>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          <strong>¿Qué es Janzap?</strong>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <p>Janzap surge con el propósito de ofrecer la última tendencia en artículos de marca al mejor precio
            posible, con gastos de envío gratis y de manera segura. Trabajamos como intermediario entre nuestro
            proveedor y el cliente, mejorando así la experiencia de usuario final con una atención totalmente
            personalizada y rápida. Nuestra principal prioridad es mantener a los clientes satisfechos en todo momento.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          <strong>¿Por qué confiar en nosotros?</strong>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          <ul>
            <li>Enviamos cientos de zapatillas cada día en toda España.</li>
            <li>95% de satisfacción por parte de nuestros clientes.</li>
            <li>En caso de algún problema, siempre ofrecemos una solución.</li>
            <li>Atención personalizada 24 horas / 7 días de la semana.</li>
          </ul>

        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
          aria-controls="panelsStayOpen-collapseThree">
          <strong>¿Es seguro comprar aquí?</strong>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
          <p>Si, nuestra página web incorpora un certificado SSL para brindar la máxima seguridad de los datos ofrecidos
            de
            nuestros clientes.</p>
          <p><strong>¿Qué es un certificado SSL?</strong></p>
          <p>Un certificado SSL sirve para brindar seguridad al visitante de su página web, una manera de decirles a sus
            clientes que el sitio es auténtico, real y confiable para ingresar datos personales. Las siglas SSL
            responden
            a los términos en inglés (Secure Socket Layer), el cual es un protocolo de seguridad que hace que sus datos
            viajen de manera íntegra y segura, es decir, la transmisión de los datos entre un servidor y usuario web, y
            en
            retroalimentación, es totalmente cifrada o encriptada. El que los datos viajen cifrados, nos referimos a que
            se emplean algoritmos matemáticos y un sistema de claves que sólo son identificados entre la persona que
            navega y el servidor. Al tener un certificado SSL confiable, nuestros datos están encriptados, en ese
            momento
            podemos asegurar que nadie puede leer su contenido. Todo esto nos lleva a entender que la tecnología que
            brinda un certificado SSL es la transmisión segura de información a través de internet, y así confirmar que
            los datos están libres de personas no deseadas.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
          aria-controls="panelsStayOpen-collapseFour">
          <strong>¿Cómo puedo contactar con JanZap?</strong>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingFour">
        <div class="accordion-body">
          La mejor opción que te podemos dar es que acudas a nuestro apartado de contacto, donde nuestro equipo tratará
          de ponerse en contacto contigo lo antes posible. </div>
      </div>

    </div>
  </div>
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="container-fluid">
      <div class="row first-row">
        <div class="col">
          <h3>ENVÍOS</h3>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingFive">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayFive-collapseFive" aria-expanded="true"
          aria-controls="panelsStayFive-collapseFive">
          <strong>¿Cuanto tardará en llegar mi pedido?</strong>
        </button>
      </h2>
      <div id="panelsStayFive-collapseFive" class="accordion-collapse collapse show"
        aria-labelledby="panelsStayFive-headingFive">
        <div class="accordion-body">
          <p>Los pedidos se envían directamente desde la fábrica situada en China y se entregan en <strong>12-30 días
              hábiles</strong> dependiendo del método de envío utilizado.
          </p>
          <ul>
            <li>Estándar (20-30 días hábiles).</li>
            <li>Express (12-18 días hábiles).</li>
          </ul>
          <p>En caso de ser un producto del apartado <strong>«STOCK 24/48H»</strong>, llegará a su destino en un plazo
            de 48/72 horas. En caso que el destino sea Canarias, el plazo aumentará a 3-5 días.</p>
          <p>*Los sábados, domingos y festivos no entran dentro del plazo.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStaySix-collapseSix" aria-expanded="false" aria-controls="panelsStaySix-collapseSix">
          <strong>¿Cuánto me costará el envío?</strong>
        </button>
      </h2>
      <div id="panelsStaySix-collapseSix" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingSix">
        <div class="accordion-body">
          <p>Los gastos de envío dependerán del método de envío que utilices:</p>
          <ul>
            <li>Estándar: 0,00€</li>
            <li>Express: 9,95€</li>
          </ul>
          <p>El envío Express aumentará a 12,95€ cuando se envíen dos pares de zapatillas y 14,95€ cuando sean tres o
            más pares.</p>
          <p>El envío Estándar será gratis independientemente de la cantidad de zapatillas, pero no estará certificado
            (no se requiere firma o D.N.I. en el momento de la entrega), mientras que el envío Express sí estará
            certificado.

          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStaySeven-collapseSeven" aria-expanded="false"
          aria-controls="panelsStaySeven-collapseSeven">
          <strong>¿Cómo puedo obtener el número de seguimiento de mi pedido?</strong>
        </button>
      </h2>
      <div id="panelsStaySeven-collapseSeven" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingSeven">
        <div class="accordion-body">
          <p>El número de seguimiento se notifica vía e-mail en un plazo de 3-5 días después de haber realizado el
            pedido y haber sido enviado.</p>
          <p>Podrás realizar el seguimiento de tu pedido introduciendo el número de seguimiento en la página web de la
            empresa de transporte correspondiente a tu pedido o bien a través de nuestra web en el siguiente enlace
            «Seguimiento de pedidos».

          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingEight">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false"
          aria-controls="panelsStayOpen-collapseEight">
          <strong>¿Qué empresa de transporte traerá mi pedido?</strong>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse"
        aria-labelledby="panelsStayEight-headingEight">
        <div class="accordion-body">
          <p>Trabajamos con varias empresas de transporte para entregar los pedidos, se utilizará la opción más adecuada
            según el método de envío utilizado y el destino.</p>
          <ul>
            <li>Correos</li>
            <li>CTT Express</li>
            <li>Envialia</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="container-fluid">
      <div class="row first-row">
        <div class="col">
          <h3>PRODUCTOS</h3>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingNine">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayNine-collapseNine" aria-expanded="true"
          aria-controls="panelsStayNine-collapseNine">
          <strong>¿Se incluye la caja original de las zapatillas?</strong>
        </button>
      </h2>
      <div id="panelsStayNine-collapseNine" class="accordion-collapse collapse show"
        aria-labelledby="panelsStayFive-headingNine">
        <div class="accordion-body">
          <p>Si, todas las zapatillas se envían con la caja original.
          </p>
          <p>
            Para evitar que la caja llegue en malas condiciones, se enviará protegida con una caja de cartón adicional.
            En algunos casos, es posible que se envíen sin la caja original debido a las limitaciones de peso por parte
            de las empresas logísticas.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTen">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayTen-collapseTen" aria-expanded="false" aria-controls="panelsStayTen-collapseTen">
          <strong>¿Hay más modelos de zapatillas disponibles?</strong>
        </button>
      </h2>
      <div id="panelsStayTen-collapseTen" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingTen">
        <div class="accordion-body">
          <p>Si, además de los modelos de zapatillas publicados en la web, hay más modelos de zapatillas disponibles,
            incluyendo otras marcas.</p>
          <p>Puedes preguntarnos por cualquier modelo de zapatilla que hayas visto por internet y lo consultaremos con
            nuestro proveedor.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion mb-2" id="accordionPanelsStayOpenExample">
    <div class="container-fluid">
      <div class="row first-row">
        <div class="col">
          <h3>OTRAS PREGUNTAS</h3>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingEleven">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayEleven-collapseEleven" aria-expanded="false"
          aria-controls="panelsStayEleven-collapseEleven">
          <strong>¿Por qué estos precios?</strong>
        </button>
      </h2>
      <div id="panelsStayEleven-collapseEleven" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingEleven">
        <div class="accordion-body">
          <p>Podemos permitirnos estos precios gracias a la importación de productos directamente desde las fábricas
            situadas en China, además de no disponer de stock físico ni tienda física.</p>
          <p>Estas fábricas se encargan de producir zapatillas de marcas con las mejores tecnologías y materiales
            disponibles.



          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwelve">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwelve" aria-expanded="false"
          aria-controls="panelsStayOpen-collapseTwelve">
          <strong>¿Puedo devolver un producto?</strong>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwelve" class="accordion-collapse collapse"
        aria-labelledby="panelsStayTwelve-headingTwelve">
        <div class="accordion-body">
          <p>Si, a diferencia de otras tiendas, ofrecemos un plazo de 14 días naturales desde la fecha de recepción del pedido para solicitar una devolución del producto sin importar el motivo. Contacta con nosotros y te explicaremos el proceso.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThirteen">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseThirteen" aria-expanded="false"
          aria-controls="panelsStayOpen-collapseThirteen">
          <strong>No he recibido mi pedido, ¿Qué puedo hacer?</strong>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThirteen" class="accordion-collapse collapse"
        aria-labelledby="panelsStayThirteen-headingThirteen">
        <div class="accordion-body">
          <p>Si no has recibido tu pedido en el plazo estipulado en la web, ponte en contacto con nosotros para poder revisarlo y ofrecerte una solución.</p>
          <p>Te recordamos que los sábados, domingos y festivos no entran dentro del plazo. A su vez, pedimos que se tenga un poco de paciencia a la hora de recibir un pedido, en fechas significativas los pedidos podrían verse retrasados más días de lo normal.</p>
        </div>
      </div>
    </div>

  </div>
  <app-footer></app-footer>


</body>

</html>