.first-row {
    background-color: rgb(219, 216, 216);
    text-align: center;

}
.centeredText{
    text-align: center;
}
.accordion {
    margin-left: 4rem; 
    margin-right: 4rem;
}

.accordion-item:not(.collapsed) .accordion-button {
    background-color:white;
    color: black;
  }