<!DOCTYPE html>
<html lang="en">

<head>
  <title>JanZap Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">


</head>


<body>
  <div class="container-fluid">
    <div class="row">
      <app-navbar></app-navbar>
      <!-- Portada 1-->
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" style="margin-top: 3.5rem;">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/janzap-34d2b.appspot.com/o/images%2FHome%2Fcarousel1%2Fportada1.jpg?alt=media"
              class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/janzap-34d2b.appspot.com/o/images%2FHome%2Fcarousel1%2Fportada2.jpg?alt=media"
              class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/janzap-34d2b.appspot.com/o/images%2FHome%2Fcarousel1%2Fportada3.jpg?alt=media"
              class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- Fin Portada 1-->
      <!-- Seleccion top-->
      <div class="container mt-5">
        <div class="row">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <h2 style="margin-left: 40px;">Selección Top</h2>
            <li class="nav-item" role="presentation">
              <button class="nav-link active" style="background-color: black; color: white; margin-left: 30px;"
                id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#hombre" type="button" role="tab"
                aria-controls="pills-home" aria-selected="true">Hombre</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" style="background-color: black; color: white; margin-left: 20px;"
                id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#mujer" type="button" role="tab"
                aria-controls="pills-profile" aria-selected="false">Mujer</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" style="background-color: black; color: white; margin-left: 20px;"
                id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#ninos" type="button" role="tab"
                aria-controls="pills-contact" aria-selected="false">Niños</button>
            </li>

          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="hombre" role="tabpanel" aria-labelledby="pills-home-tab"
              tabindex="0">
              <div class="card-group">
                <div class="card product-card mt-2" *ngFor="let products of placesTop"
                  style="width: 18rem; margin-left: 15px; text-align: center;">
                  <img class="card-img" src="{{products.pictureTop}}" style="width:auto; height: 200px;"
                    alt="Card image cap">
                  <div class="card-body">
                    <p class="product-name">{{products.nameTop}}
                    <p>
                    <p class="product-price">{{products.priceTop}}€</p>

                    <div class="progress" role="progressbar" aria-label="Animated striped example">
                      <div class="progress-bar progress-bar-striped  bg-warning progress-bar-animated"
                        style="width: {{products.ratingTop}}%"></div>
                    </div>
                    <p class="py-2">
                      <span class="list-inline-item text-dark">Puntuación :
                        {{products.ratingTop}} <br>
                        Comentarios : {{products.commentsTop}}</span>
                    </p>
                    <p class="product-description">{{products.descriptionTop}}</p>
                    <input *ngIf="products.sizeshoes33Top" type="checkbox" class="btn-check" id="size33"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes33Top" class="btn btn-secondary" for="size33">33</label>

                    <input *ngIf="products.sizeshoes34Top" type="checkbox" class="btn-check" id="size34"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes34Top" class="btn btn-secondary" for="size34">34</label>

                    <input *ngIf="products.sizeshoes35Top" type="checkbox" class="btn-check" id="size35"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes35Top" class="btn btn-secondary" for="size35">35</label>

                    <input *ngIf="products.sizeshoes36Top" type="checkbox" class="btn-check" id="size36"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes36Top" class="btn btn-secondary" for="size36">36</label>

                    <input *ngIf="products.sizeshoes37Top" type="checkbox" class="btn-check" id="size37"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes37Top" class="btn btn-secondary" for="size37">37</label>

                    <input *ngIf="products.sizeshoes38Top" type="checkbox" class="btn-check" id="size38"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes38Top" class="btn btn-secondary" for="size38">38</label>

                    <input *ngIf="products.sizeshoes39Top" type="checkbox" class="btn-check" id="size39"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes39Top" class="btn btn-secondary" for="size39">39</label>

                    <input *ngIf="products.sizeshoes40Top" type="checkbox" class="btn-check" id="size40"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes40Top" class="btn btn-secondary" for="size40">40</label>

                    <input *ngIf="products.sizeshoes41Top" type="checkbox" class="btn-check" id="size41"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes41Top" class="btn btn-secondary" for="size41">41</label>

                    <input *ngIf="products.sizeshoes42Top" type="checkbox" class="btn-check" id="size42"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes42Top" class="btn btn-secondary" for="size42">42</label>

                    <input *ngIf="products.sizeshoes43Top" type="checkbox" class="btn-check" id="size43"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes43Top" class="btn btn-secondary" for="size43">43</label>

                    <input *ngIf="products.sizeshoes44Top" type="checkbox" class="btn-check" id="size44"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes44Top" class="btn btn-secondary" for="size44">44</label>

                    <input *ngIf="products.sizeshoes45Top" type="checkbox" class="btn-check" id="size45"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes45Top" class="btn btn-secondary" for="size45">45</label>

                    <input *ngIf="products.sizeshoes46Top" type="checkbox" class="btn-check" id="size46"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes46Top" class="btn btn-secondary" for="size46">46</label>

                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="mujer" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
              <div class="card-group">
                <div class="card product-card mt-2" *ngFor="let products of placesTopMujer"
                  style="width: 18rem; margin-left: 15px; text-align: center;">
                  <img class="card-img" src="{{products.pictureTopMujer}}" style="width:auto; height: 200px;"
                    alt="Card image cap">
                  <div class="card-body">
                    <p class="product-name">{{products.nameTopMujer}}
                    <p>
                    <p class="product-price">{{products.priceTopMujer}}€</p>

                    <div class="progress" role="progressbar" aria-label="Animated striped example">
                      <div class="progress-bar progress-bar-striped  bg-warning progress-bar-animated"
                        style="width: {{products.ratingTopMujer}}%"></div>
                    </div>
                    <p class="py-2">
                      <span class="list-inline-item text-dark">Puntuación :
                        {{products.ratingTopMujer}} <br>
                        Comentarios : {{products.commentsTopMujer}}</span>
                    </p>
                    <p class="product-description">{{products.descriptionTopMujer}}</p>
                    <input *ngIf="products.sizeshoes33TopMujer" type="checkbox" class="btn-check" id="size33"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes33TopMujer" class="btn btn-secondary" for="size33">33</label>

                    <input *ngIf="products.sizeshoes34TopMujer" type="checkbox" class="btn-check" id="size34"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes34TopMujer" class="btn btn-secondary" for="size34">34</label>

                    <input *ngIf="products.sizeshoes35TopMujer" type="checkbox" class="btn-check" id="size35"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes35TopMujer" class="btn btn-secondary" for="size35">35</label>

                    <input *ngIf="products.sizeshoes36TopMujer" type="checkbox" class="btn-check" id="size36"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes36TopMujer" class="btn btn-secondary" for="size36">36</label>

                    <input *ngIf="products.sizeshoes37TopMujer" type="checkbox" class="btn-check" id="size37"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes37TopMujer" class="btn btn-secondary" for="size37">37</label>

                    <input *ngIf="products.sizeshoes38TopMujer" type="checkbox" class="btn-check" id="size38"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes38TopMujer" class="btn btn-secondary" for="size38">38</label>

                    <input *ngIf="products.sizeshoes39TopMujer" type="checkbox" class="btn-check" id="size39"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes39TopMujer" class="btn btn-secondary" for="size39">39</label>

                    <input *ngIf="products.sizeshoes40TopMujer" type="checkbox" class="btn-check" id="size40"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes40TopMujer" class="btn btn-secondary" for="size40">40</label>

                    <input *ngIf="products.sizeshoes41TopMujer" type="checkbox" class="btn-check" id="size41"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes41TopMujer" class="btn btn-secondary" for="size41">41</label>

                    <input *ngIf="products.sizeshoes42TopMujer" type="checkbox" class="btn-check" id="size42"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes42TopMujer" class="btn btn-secondary" for="size42">42</label>

                    <input *ngIf="products.sizeshoes43TopMujer" type="checkbox" class="btn-check" id="size43"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes43TopMujer" class="btn btn-secondary" for="size43">43</label>

                    <input *ngIf="products.sizeshoes44TopMujer" type="checkbox" class="btn-check" id="size44"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes44TopMujer" class="btn btn-secondary" for="size44">44</label>

                    <input *ngIf="products.sizeshoes45TopMujer" type="checkbox" class="btn-check" id="size45"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes45TopMujer" class="btn btn-secondary" for="size45">45</label>

                    <input *ngIf="products.sizeshoes46TopMujer" type="checkbox" class="btn-check" id="size46"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes46TopMujer" class="btn btn-secondary" for="size46">46</label>

                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="ninos" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
              <div class="card-group">
                <div class="card product-card mt-2" *ngFor="let products of placesTop"
                  style="width: 18rem; margin-left: 15px; text-align: center;">
                  <img class="card-img" src="{{products.pictureTop}}" style="width:auto; height: 200px;"
                    alt="Card image cap">
                  <div class="card-body">
                    <p class="product-name">{{products.nameTop}}
                    <p>
                    <p class="product-price">{{products.priceTop}}€</p>

                    <div class="progress" role="progressbar" aria-label="Animated striped example">
                      <div class="progress-bar progress-bar-striped  bg-warning progress-bar-animated"
                        style="width: {{products.ratingTop}}%"></div>
                    </div>
                    <p class="py-2">
                      <span class="list-inline-item text-dark">Puntuación :
                        {{products.ratingTop}} <br>
                        Comentarios : {{products.commentsTop}}</span>
                    </p>
                    <p class="product-description">{{products.descriptionTop}}</p>
                    <input *ngIf="products.sizeshoes33Top" type="checkbox" class="btn-check" id="size33"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes33Top" class="btn btn-secondary" for="size33">33</label>

                    <input *ngIf="products.sizeshoes34Top" type="checkbox" class="btn-check" id="size34"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes34Top" class="btn btn-secondary" for="size34">34</label>

                    <input *ngIf="products.sizeshoes35Top" type="checkbox" class="btn-check" id="size35"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes35Top" class="btn btn-secondary" for="size35">35</label>

                    <input *ngIf="products.sizeshoes36Top" type="checkbox" class="btn-check" id="size36"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes36Top" class="btn btn-secondary" for="size36">36</label>

                    <input *ngIf="products.sizeshoes37Top" type="checkbox" class="btn-check" id="size37"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes37Top" class="btn btn-secondary" for="size37">37</label>

                    <input *ngIf="products.sizeshoes38Top" type="checkbox" class="btn-check" id="size38"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes38Top" class="btn btn-secondary" for="size38">38</label>

                    <input *ngIf="products.sizeshoes39Top" type="checkbox" class="btn-check" id="size39"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes39Top" class="btn btn-secondary" for="size39">39</label>

                    <input *ngIf="products.sizeshoes40Top" type="checkbox" class="btn-check" id="size40"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes40Top" class="btn btn-secondary" for="size40">40</label>

                    <input *ngIf="products.sizeshoes41Top" type="checkbox" class="btn-check" id="size41"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes41Top" class="btn btn-secondary" for="size41">41</label>

                    <input *ngIf="products.sizeshoes42Top" type="checkbox" class="btn-check" id="size42"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes42Top" class="btn btn-secondary" for="size42">42</label>

                    <input *ngIf="products.sizeshoes43Top" type="checkbox" class="btn-check" id="size43"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes43Top" class="btn btn-secondary" for="size43">43</label>

                    <input *ngIf="products.sizeshoes44Top" type="checkbox" class="btn-check" id="size44"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes44Top" class="btn btn-secondary" for="size44">44</label>

                    <input *ngIf="products.sizeshoes45Top" type="checkbox" class="btn-check" id="size45"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes45Top" class="btn btn-secondary" for="size45">45</label>

                    <input *ngIf="products.sizeshoes46Top" type="checkbox" class="btn-check" id="size46"
                      autocomplete="off">
                    <label *ngIf="products.sizeshoes46Top" class="btn btn-secondary" for="size46">46</label>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div id="carousel2" class="carousel slide mt-5" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/janzap-34d2b.appspot.com/o/images%2FHome%2Fcarousel2%2Fportada1.jpg?alt=media"
              class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/janzap-34d2b.appspot.com/o/images%2FHome%2Fcarousel2%2Fportada2.jpg?alt=media"
              class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/janzap-34d2b.appspot.com/o/images%2FHome%2Fcarousel2%2Fportada3.jpg?alt=media"
              class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/janzap-34d2b.appspot.com/o/images%2FHome%2Fcarousel2%2Fportada4.jpg?alt=media"
              class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/janzap-34d2b.appspot.com/o/images%2FHome%2Fcarousel2%2Fportada5.jpg?alt=media"
              class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/janzap-34d2b.appspot.com/o/images%2FHome%2Fcarousel2%2Fportada6.jpg?alt=media"
              class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>
    </div>
  </div>

</body>

<app-footer></app-footer>