<!DOCTYPE html>
<html lang="en">

<head>
    <title>JanZap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
    <link rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
  </head>
  

<body>
    <div class="container-fluid">
        <div class="row">
          <app-navbar></app-navbar>
        </div>
    </div>
    <div class="container-fluid mb-4" style="margin-top: 3.5rem;">
        <div class="row first-row mb-4">
            <div class="col">
                <h2>ENVÍOS Y ENTREGAS</h2>
                <p>Toda la información sobre las diferentes formas de envío y plazos de entrega.</p>
            </div>
        </div>
        <div class="row mx-5">
            <div class="col">
                <p>A continuación te detallamos toda la información respecto al envío y entrega de tus pedidos, en
                    JanZAP ponemos todo de nuestra parte para que los plazos de entrega se cumplan, pero si pasado
                    el plazo que te indicamos no has recibido tu pedido, por favor, ponte en contacto con nosotros
                    enviándonos un email a info@janzap.com o escríbenos a través de WhatsApp (662693481).
                </p>
                <p> Cuando realizas un pedido debes recibir un email de “Confirmación de pedido” con el detalle de los
                    artículos que acabas de adquirir. A continuación, nuestro equipo se pondrá a trabajar en la
                    preparación de tu pedido y te informaremos del estado del mismo avisándote por e-mail cuando tu
                    pedido pase por los diferentes estados establecidos: “en proceso, enviado, seguimiento y entregado”.
                </p>
                <p> En caso de que no visualices los emails oportunos, por favor, revisa la bandeja de correo no deseado
                    o spam. Si en esta bandeja tampoco puedes visualizar los correos, ponte en contacto con nosotros.
                </p>
                <p><b>1. Plazos de entrega y gastos de envío.</b></p>
                <p>Los pedidos se envían directamente desde la fábrica situada en China y se entregan en 12-30 días
                    hábiles dependiendo del método de envío utilizado.</p>
                <ul>
                    <li>Estándar (20-30 días hábiles)</li>
                    <li>Express (12-18 días hábiles)</li>
                </ul>
                <p>Los gastos de envío también dependerán del método de envío que quieras utilizar.</p>
                <ul>
                    <li>Estándar: 0,00€</li>
                    <li>Express: 9,95€</li>
                </ul>

                <p>El envío Express aumentará a 12,95€ cuando se envíen dos pares de zapatillas y 14,95€ cuando sean
                    tres o más pares.</p>
                <p>El envío Estándar será gratis independientemente de la cantidad de zapatillas, pero no estará
                    certificado (no se requiere firma o D.N.I. en el momento de la entrega), mientras que el envío
                    Express sí estará certificado.
                </p>
                <p><b>2. Plazos de envío y entrega en campañas puntuales.</b></p>
                <p>En determinadas campañas como Navidades, Black-Friday u otras fechas significativas, el plazo de
                    envío y/o entrega puede verse incrementado respecto al estándar anteriormente señalado. No obstante,
                    se avisará sobre esto durante el proceso de compra.

                </p>
                <p><b>
                    3. Dónde puedes recibir tu pedido.
                </b></p>
                <p>Puedes recibirlo en la dirección que elijas (domicilio, trabajo…) en el momento de realizar tu
                    pedido. Recuerda cubrir bien todos los campos y dejar un teléfono de contacto, indispensable para
                    formalizar el envío y en caso de incidencia o que el destinatario esté ausente en el momento de la
                    entrega, poder contactar contigo para buscar una solución.</p>
                <b>4. Empresa encargada de entregar tu pedido</b>
                <p>Trabajamos con varias empresas de transporte para entregar los pedidos, se utilizará la opción más
                    adecuada según el método de envío utilizado y el destino.</p>
                <ul>
                    <li>Correos</li>
                    <li>Correos Express</li>
                    <li>CTT Express</li>
                    <li>Envialia</li>
                    <li>EcoScooting</li>
                </ul>
               <p> <b>5. Estado de mi envío.</b></p>
                <p>Una vez tu pedido haya sido enviado, te enviaremos por e-mail la información de seguimiento en un plazo de 2-5 días.</p>
                <p>Podrás realizar el seguimiento de tu pedido introduciendo el número de seguimiento en la página web de la empresa de transporte correspondiente a tu pedido o bien a través de nuestra web en el siguiente enlace «Seguimiento de pedidos».</p>
                <p><b>6. Ausencia del destinatario en el momento de la entrega</b></p>
                <p>En caso de que no haya nadie en el momento de la entrega, Correos dejará una nota de aviso en el buzón o notificará al destinatario mediante un SMS y el cliente tendrá un plazo de 15 días naturales para ir a recoger el pedido a la oficina de Correos más cercana. En el caso de las demás empresas de transporte, se pondrán en contacto con el cliente para acordar una nueva entrega.

                </p>
                <p><b>7. Aduanas.</b></p>
                <p>Todos los paquetes se enviarán con el IVA pagado y libre de aduanas, no se tendrá que pagar nada más en el momento de la entrega.</p>
                <p>En caso que la empresa de transporte te indique que debes de pagar el impuesto de aduanas o IVA para recibir el paquete, ponte en contacto con nosotros y nos haremos cargo de liberar el paquete o enviar tu pedido nuevamente.</p>

                <p><b>8. Responsabilidad de JanZap sobre los envíos.</b></p>
                <p>Siempre nos comprometemos a cumplir todas las condiciones que figuran en esta página, aunque en determinadas ocasiones no es posible por causas ajenas a nuestra actividad, como por ejemplo que un envío se retrase por incidencias meteorológicas, robo o retrasos generalizados en las entregas. Para tu mayor tranquilidad, en caso que hayan pasado 60 días y no hayas recibido tu pedido, nos comprometemos a reembolsarte el dinero o enviártelo de nuevo.</p>

            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>

</html>