<!DOCTYPE html>
<html lang="es">

<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.scss" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
</head>
<body>
    <app-navbar></app-navbar>
    <div class="container-fluid mb-5">
        <div class="container-fluid card-container">          
                <div class="card card-profile text-center">
                <img src="https://firebasestorage.googleapis.com/v0/b/janzap-34d2b.appspot.com/o/images%2Fprofile%2Fprofile-picture.webp?alt=media"
                    class="card-img-top rounded-circle" alt="Perfil">
                <div class="card-body">
                    <h2 class="card-text profile-name">{{userEmail}}</h2>
                    <p class="card-text profile-email">{{userEmail}}@gmail.com</p>
                    <button type="button" (click)="forgotpassword()" class="btn btn-dark mb-2">Cambiar contraseña</button> <br>
                    <button type="button" (click)="logOut()" class="btn btn-dark">Cerrar sesión</button>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>

</html>